header {
    .navbar {
        font-family: 'Open Sans', sans-serif;
        padding-bottom: 1.5625rem;
        background-image: url("../assets/img/estal.jpg");
        background-size: cover;
        font-size: 1rem;
        font-weight: bold;
    }

    .dropdown-menu {
        font-family:'Open Sans', sans-serif;
    }
}