
    .h{
    text-align: center;
    font-size: 1.75rem;
    }  
    .grid {
        display: grid;
        place-content: center;
        grid-template-columns: 13% 13% 13% 13%;
        grid-template-rows: auto;
        grid-template-areas: 
        "col1 col2 col3 col4"
        "col5 col6 col7 col8"
        "col9 col10 col11 col12"
        ;
        gap: .9375rem;
        font-weight: bold;
        margin: 1.25rem;
       
            @media(max-width:1300px) {
                grid-template-columns: repeat(4, 20%);
            }
            @media(max-width:1234px){
                font-size: .75rem;
            }
            @media(max-width:883px){
                grid-template-columns: repeat(4, 18%); 
            }
            @media(max-width:768px){
                grid-template-columns: repeat(3,20%);
                font-size: .625rem;
            }
            @media(max-width:566px){
                grid-template-columns: repeat(2,35%);
                font-size: .5rem;
            }
            @media(max-width:420px){
                grid-template-columns:1fr;
            }
            @media(max-width:320px){
                grid-template-columns:1fr;

            }
            .color1 {
                grid-area: col1;
                background-color: $background-grid1;
                text-align: center;
                font-family: 'Open Sans', sans-serif;
        
            }
        
            .color2 {
                grid-area: col2;
                background-color: $background-grid2;
                text-align: center;
                font-family: 'Open Sans', sans-serif;
            }
        
            .color3 {
                grid-area: col3;
                background-color: $background-grid1;
                text-align: center;
                font-family: 'Open Sans', sans-serif;
            }
        
            .color4 {
                grid-area: col4;
                background-color: $background-grid2;
                text-align: center;
                font-family: 'Open Sans', sans-serif;
            }
        
            .color5 {
                grid-area: col5;
                background-color: $background-grid1;
                text-align: center;
                font-family: 'Open Sans', sans-serif;
            }
        
            .color6 {
                grid-area: col6;
                background-color: $background-grid2;
                text-align: center;
                font-family: 'Open Sans', sans-serif;
                
            }
        
            .color7 {
                grid-area: col7;
                background-color: $background-grid1;
                text-align: center;
                font-family: 'Open Sans', sans-serif;
            }
        
            .color8 {
                grid-area: col8;
                background-color: $background-grid2;
                text-align: center;
                font-family: 'Open Sans', sans-serif;
            }
        
            .color9 {
                grid-area: col9;
                background-color: $background-grid1;
                text-align: center;
                font-family: 'Open Sans', sans-serif;
            }
        
            .color10 {
                grid-area: col10;
                background-color: $background-grid2;
                text-align: center;
                font-family: 'Open Sans', sans-serif;
            }
        
            .color11 {
                grid-area: col11;
                background-color: $background-grid1;
                text-align: center;
                font-family: 'Open Sans', sans-serif;
            }
        
            .color12 {
                grid-area: col12;
                background-color: $background-grid2;
                text-align: center;
                font-family: 'Open Sans', sans-serif;
            }
        
            .card-style{
                padding: .75rem;
            }  
            .img-fluid{
                padding: .25rem;
            }
    }