@media (max-width: 420px) {
    .grid{
    grid-template-columns:1fr;
    grid-template-rows:  auto;
    grid-template-areas:
    "col1" 
    "col2"
    "col3" 
    "col4"
    "col5"
    "col6"
}
.color7{
    display: none;
  }
  .color8{
    display: none;
  }
  .color9{
    display: none;
  }
  .color10{
    display: none;
  }
  .color11{
    display: none;
  }
  .color12{
    display: none;
  }
}