@media (max-width: 922px) {
    .section-cards {
     @include flex-wrap;
      gap: 0.625rem;
    }
    .button1 {
      font-size: .75rem;
      }
      .compra{
        font-size: 1.25rem;
        }
  }